
.align-center {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.fixed-bottom {
  padding-bottom: 0px;
  z-index: 3;
  position: fixed;
  bottom: 0;
  left: 0;
}


.bg-upload-dark {
  background-color: #2C374E
}

.bg-upload-light {
  background-color: #dddddd;
}

.whitespace {
  white-space: pre;
}

.mobile-tasks:last-child {
  margin-bottom: 100px;
}

.more-column-indicator {
  position: absolute;
  right: 0;
  height: inherit;
  color: white;
}

@media only screen and (max-width: 767px) {
  .urgency-icon {
    border: 1px solid black;
  }
}

.pm-error-select-field {
  width: auto;
  min-width: 0px;
  padding-left: 10px;
  border-radius: 25px;
  padding-bottom: 0px;
}

.min-max-width {
  min-width: 200px;
  max-width: 200px;
}

@media only screen and (max-width: 767px) {
  .pm-table {
    width: calc(100vw - 48px);
    border-radius: 15px;
    max-height: 500px;
  }

  .pm-table >>> thead tr:first-child th {
    min-width: calc((100vw - 48px) / 2);
  }
}

@media only screen and (min-width: 1024px) {
  .pm-table {
    max-width: calc(100vw - 500px);
  }
}


