/**
  Core Customed Borders/ Colors,Radius
*/
@import "onboarding.functions";

.onboarding-border-radius-50 {
  border-radius: 50px;
}

.onboarding-border-radius-15 {
  border-radius: 15px;
}

.onboarding-border-radius-12 {
  border-radius: 12px;
}

.onboarding-border-radius-10 {
  border-radius: 10px;
}

.onboarding-border-radius-8 {
  border-radius: 8px;
}

/***
  Border Styles
*/
.onboarding-border-1-dashed {
  border: 1px dashed #869ab2;
}

// Border accent color
@for $i from 0 through 3 {
  .onboarding-border-accent-#{$i} {
    border: 1px solid;
    border-color: color(a, $i);
  }
}
