/**
  pm Customed Class Names for Background, Text Colors

  NOTE  : Refer to pm.variables.scss for variable references
  USAGE : eg. onboarding-bg-accent-0, onboarding-bg-hover-accent-0, onboarding-text-accent-0, onboarding-text-hover-accent-0
*/
@import "onboarding.functions";

.onboarding-bg-primary {
  background-color: $primary !important;
}
.onboarding-bg-secondary {
  background-color: $secondary !important;
}
.onboarding-bg-accent-0 {
  background-color: $accent-0;
  @media screen and (min-width: $breakpoint-sm-max) {
    background-color: $accent-0 !important;
  }
}
.onboarding-text-primary {
  color: $accent-1;
}
.onboarding-text-secondary {
  color: $accent-2;
}

.onboarding-dark-mode {
  .onboarding-bg-secondary {
    background-color: $d-secondary !important;
  }
  .onboarding-bg-primary {
    background-color: $d-primary !important;
  }

  .onboarding-text-primary {
    color: $white !important;
  }

  .onboarding-right-drawer {
    @media screen and (max-width: 1500px) {
      box-shadow: -5px 0px 20px -8px rgba(0, 0, 0, 0.4);
    }
  }
}

// HEADER
.onboarding-header {
  .onboarding-bg-secondary {
    @media screen and (max-width: $breakpoint-xs-max) {
      background-color: $accent-0 !important;
    }
  }
}

//Index Page
.onboarding-index {
  .onboarding-text-secondary {
    color: $primary;
  }
}

// LEFT SIDEBAR
.onboarding-eft-drawer {
  .onboarding-bg-secondary {
    @media screen and (max-width: 767px) {
      background-color: $accent-0 !important;
    }
  }
}

// RIGHT SIDEBAR
.onboarding-right-drawer {
  .onboarding-bg-accent-1 {
    background-color: $accent-1;
    .onboarding-bg-accent-1 {
      background-color: $accent-1;
    }
  }
  .onboarding-analog-clock-accent-1 {
    filter: drop-shadow(5px 5px 3px #707070) !important;
  }
  @media screen and (max-width: 1500px) {
    box-shadow: -5px 0px 20px -8px #aaaaaa;
  }
}

// FOOTER
.onboarding-footer {
  .onboarding-bg-primary {
    background-color: $primary;
    @media screen and (min-width: $breakpoint-sm-min) {
      background-color: rgba(255, 255, 255, 0.7);
    }
  }
  .onboarding-text-accent-0 {
    color: $accent-0;
  }
}

// Background accent color
@for $i from 0 through 3 {
  .onboarding-bg-accent-#{$i} {
    background-color: color(a, $i);
  }
}

// Background accent hover color
@for $i from 0 through 3 {
  .onboarding-bg-hover-accent-#{$i} {
    transition: 0.2s ease-out;
    &:hover {
      color: $white;
      background-color: color(a, $i) !important;
    }
  }
}

// Text accent colors
@for $i from 0 through 3 {
  .onboarding-text-accent-#{$i} {
    color: color(a, $i);
  }
  // Text accent hover colors
  .onboarding-text-hover-accent-#{$i} {
    transition: 0.2s ease-out;
    &:hover {
      color: color(a, $i) !important;
    }
  }
}

// Notification colors
.onboarding-warning-notif {
  background-color: #fffaf3;
  color: #7a4d05 !important;
  border: 1px solid #ccbea0;
}
.onboarding-info-notif {
  background-color: #f8ffff;
  color: #0e566c !important;
  border: 1px solid #bedfe6;
}

.onboarding-error-notif {
  background-color: #fff6f6;
  color: #973937 !important;
  border: 1px solid #cb9e9e;
}

.onboarding-success-notif {
  background-color: #f3ffd8;
  color: #0c950e !important;
  border: 1px solid #a8c599;
}

.onboarding-warning-notif,
.onboarding-info-notif,
.onboarding-error-notif,
.onboarding-success-notif {
  padding-right: 100px;
}
